* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 960px;
  height: auto;
  min-height: 600px;
  margin: 0px auto;
}

.nav {
  height: 100px;
  background: #1b6eda;
}

.logo {
  width: 200px;
  height: 75px;
  float: left;
  margin: 10px;
}

.menu {
  float: right;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-right: 35px;
  line-height: 100px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.info-wrapper {
  width: 100%;
  padding: 20px;
  background: #cecece;
  overflow: hidden;
}

.info-box {
  width: 30%;
  height: auto;
  background: #fff;
  float: left;
  padding: 10px;
  border: 1px solid #1b6eda;
  border-radius: 10px;
}

.info-box h3 {
  color: #1b6eda;
  border-bottom: 1px dotted #1b6eda;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.info-box p {
  line-height: 23px;
  text-align: center;
}

.middle {
  margin-left: 5%;
  margin-right: 5%;
}

.footer,
.content {
  clear: both;
}

.content {
  padding: 20px;
  background: #299a8f;
}

.content h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.content p {
  line-height: 23px;
  text-align: justify;
  color: #fff;
}

.footer {
  width: 960px;
  height: 50px;
  margin: 0px auto;
  background: #00695f;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
